<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
	  <!-- //第三方登录 -->
    <add key="app_key_sina" value="1635703920" />
    <add key="app_secret_sina" value="a8fac391761c2ff682fcca2fc047c4e8" />
    <add key="app_redirectUri_sina" value="http://wlin.sisleycommnutiy.com/callback.aspx?s=sina" />
	  
    <add key="app_key_qq" value="801204125" />
    <add key="app_secret_qq" value="a67759aa1f5eeabcb76889e4ee219de3" />
    <add key="app_redirectUri_qq" value="http://wlin.sisleycommnutiy.com/callback.aspx?s=qq" />
	  
    <add key="app_key_kaixin" value="4830994262710b0598968f64e52c8246 " />
    <add key="app_secret_kaixin" value="c7ca338eb722629e9ab5996d9009e164" />
    <add key="app_redirectUri_kaixin" value="http://wlin.sisleycommnutiy.com/callback.aspx?s=kaixin" />
	  <!-- //一些全局常数 -->
    <add key="app_MaxSizeUpload" value="2" />
    <add key="app_ImgUpload" value=".jpg|.gif|.png|.bmp" />
    <add key="app_WebsiteDomain" value="http://wlin.sisleycommnutiy.com" />
    <add key="App_ckfinder_upload" value="~/upload/ckfinder/" />
	<add key="app_sisleyWeiboUrl" value="http://e.weibo.com/sisleychina" />
	  <!-- //课件测评开始日期和截止日期 -->
	  <add key="app_CourseMainTest_BeginDate" value="2012-08-01" />
	  <add key="app_CourseMainTest_EndDate" value="2012-10-01" />
  </appSettings>
  <connectionStrings>
    <add name="AppDefault" connectionString="Server=JEFF-PC;UId=william5;Pwd=william5;Database=SVR_SisleyCommnuity_NewDB" providerName="System.Data.SqlClient" />
    <add name="SisleyCommnutiy_NewDBEntities" connectionString="metadata=res://*/App_Code.SisleyModel.csdl|res://*/App_Code.SisleyModel.ssdl|res://*/App_Code.SisleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SisleyCommnutiy_NewDB;Persist Security Info=True;User ID=william5;Password=william5;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- Session  过期时间 45分钟-->
    <sessionState mode="InProc" timeout="45"></sessionState>
    
    <httpRuntime maxRequestLength="4000" useFullyQualifiedRedirectUrl="true" executionTimeout="45" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>

	  <customErrors mode="Off" defaultRedirect="index.aspx">
		  <!--
		  <error statusCode="403" redirect="403.htm" />
		  <error statusCode="404" redirect="404.htm" />
		  -->
	  </customErrors>

  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>